.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }

  &.google-sign-in {
    background: #406d59;
    color: white;

    &:hover {
      background: #355a49;
      border: none;
    }
  }
}
