.signin {
  width: 420px;
  display: flex;
  flex-direction: column;

  & h2,
  & span {
    text-transform: uppercase;
  }

  .title {
    margin: 10px;
  }

  .sign-in-buttons {
    display: flex;
    justify-content: space-between;
  }
}
